body {
    background-color:rgb(10, 18, 42);
    margin:0;  

}

/* **** */
/* menu */
/* **** */
#menu {
    width:100%;
    display:none;
    height:100vh;
    text-align:center;
    position:absolute;
    background-color:rgb(10, 18, 42);
}
#menu ul {
    margin: 0;
    padding: 0;
}
#menu a {
    margin-top:10vh;
    text-decoration:none;
    font-family:arial;
    color:rgb(240, 240, 230);
}
.selectButton {
    background-color:rgb(10, 18, 42);
    border-style:solid;
    border-color:rgb(240, 240, 230);
    text-decoration:none;
    font-family:arial;
    font-size:2vh;
    color:rgb(240, 240, 230);
    margin-top:7vh;
    height:10vh;
    width:90vw;
}
.selectButton:hover {
    background-color:rgb(30, 60, 90);
    text-shadow:
        0 0 10px #00bfff,
        0 0 30px #00bfff,  
        0 0 40px #00bfff,  
        0 0 80px #00bfff;
}
#svoren {
    margin-top: 7vh;
    font-size: 30px;
}
#svoren a:hover {
    text-shadow:
        0 0 10px #00bfff,
        0 0 30px #00bfff,  
        0 0 40px #00bfff,  
        0 0 80px #00bfff;
}

/* ****** */
/* navbar */
/* ****** */
header{
    background:linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0) 100%);
}
.navbar ul{
    padding:0;
    margin:0;
    float:right;
}
.navbar li{
    display: inline-block;
    margin-left: 6vw;
    margin-top: 40px;
}
.navbar a{
    color:white;
    font-weight:300;
    text-decoration:none;
    font-family:Arial;
}
.navbar a:hover{
    color:rgb(245, 250, 255);
    text-shadow: 
        0 0 10px #00bfff,
        0 0 30px #00bfff,  
        0 0 40px #00bfff,  
        0 0 80px #00bfff;
        
}
#navImg {
    height:100px;
    width:100px;
    float:left;
}
#navContainer {
    width: 60vw;
    height: 100px;
    margin: 0 auto;
}
#menuButton {
    background-color:rgba(0,0,0,0);
    border:none;
    font-size:40px;
    color:white;
    width: 100px;
    height: 100px;
    margin: 0;
    float: right;
    display:none;
}
#menuButton:hover {
  text-shadow: 
    0 0 10px #00bfff,
    0 0 30px #00bfff,  
    0 0 40px #00bfff,  
    0 0 80px #00bfff;  
}
#underline {
    text-decoration:underline;
}

/* title */
#largeTitle {
    margin-top:20vh;
    width:80vw;
    height:17vh;
    margin-left:auto;
    margin-right:auto;
}
#h1-1 {
    margin-top:0;
}
h1 {
    margin:0;
    font-size:6vh;
    font-weight:100;
    text-align:center;
    font-family:arial;
    color:white;
}

/* content */
.content {
    width:70vw;
    margin:auto;
    font-family:arial;
    font-weight:400;
}
.smallContainer {
    height: 30vh;
    width: 30vw;
    padding:2vh;
    display: inline-block;
    color:white;
    border-style:solid;
    border-color:white;
}
#sC1 {
    float:left;
}
#sC2 {
    float:right;
}



@media (max-width: 1000px) {
    .navbar ul {
        display:none;
    }
    #menuButton {
        display:block;
    }
}
@media (max-width: 900px) {
    #sC1, #sC2 {
        float:none;
    }
    #sC2 {
        margin-top: 5vh;
    }
    .smallContainer {
        width: 70vw;
        height: 15vh;
    }
    .content {
        width: 90vw;
        text-align:center;
    }
}